*{
    margin: 17px;
    padding: 0;

}
.h3{
    text-align: center;
    margin-top: 20px;
   
}
.sec1{
    max-width: 400px;
    max-height: 700px;
    background-color: aqua;
    padding: 15px;
}
.sec2{
    margin: 9px;
    padding: 4px;
}
.box{
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
    border: solid black ;
    border-radius: 6px;
    background-color: white;
}